.body-color {
    background-color: #252424;
}

.background-image {
    background-image: url("images/logo2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.player {
    background-color: black;
}

.player h5 {
    color: white;
    text-align: center;
}

.player p {
    text-align: center;
}


.player button {
    width: 100%;
}